[submodule "include/common"]
	path = include/common
	url = https://github.com/Hackerl/cpp-common
[submodule "shellcode/crt"]
	path = shellcode/crt
	url = https://github.com/Hackerl/crt
[submodule "cmake"]
	path = cmake
	url = https://github.com/Hackerl/cmake-3rd
