[submodule "include/common"]
	path = include/common
	url = https://github.com/Hackerl/cpp-common
[submodule "cmake"]
	path = cmake
	url = https://github.com/Hackerl/cmake-3rd
[submodule "shellcode/c-runtime"]
	path = shellcode/c-runtime
	url = https://github.com/Hackerl/c-runtime
